@page "/register"
@page "/register/{EventId:int}"

@inject EventEaseApp.Data.EventService EventService

<PageTitle>Register</PageTitle>

@if (EventId > 0 && eventToRegister != null)
{
    <h1>Register for: @eventToRegister.Title</h1>
}
else
{
    <h1>Event Registration</h1>
}

<p>Please fill out the form below to register.</p>
@* A full registration form would go here *@


@code {
    [Parameter]
    public int EventId { get; set; }

    private EventEaseApp.Data.Event? eventToRegister;

    protected override async Task OnInitializedAsync()
    {
        if (EventId > 0)
        {
            eventToRegister = await EventService.GetEventByIdAsync(EventId);
        }
    }
}
